services:
  ollama:
    image: ollama/ollama:latest
    container_name: prompting-strategies
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama

volumes:
  ollama_storage: